<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.mcgill.ecse321.group14.scorepion" >

    <uses-permission
        android:name="android.permission.write_external_storage"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".viewcontrollers.login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".viewcontrollers.mainScorekeeperView"
            android:label="@string/title_activity_main_scorekeeper_view" >


        </activity>

        <activity
            android:name=".viewcontrollers.mainFanView"
            android:label="@string/title_activity_main_fan_view" >
        </activity>

    </application>

</manifest>
